.filters-select {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
.filters-select__header {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    border: 1px solid #C8C8C8;
    border-radius: 4px;
    width: 100%;
    padding: 8px 16px;
}
.filters-select__field {
    font-family: "Commissioner";
    font-size: 14px;
    font-weight: 400;
    color: #242424;
    width: 100%;
    cursor: pointer;
}
.filters-select__field::placeholder {
    color: #C8C8C8;
}
.filters-select__icon {
    max-width: 16px;
    max-height: 16px;
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.filters-select__dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 4px);
    width: 100%;
    padding: 16px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    background-color: #FFF;
    box-shadow: 0px 4px 16px 4px rgba(0, 0, 0, 0.04);
    z-index: 50;
}
.--open {
    display: block;
}

.filters-select__dropdown-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.filters-select__dropdown-input {
}
.filters-select__dropdown-options {
    max-height: 190px;
    overflow-x: hidden;
    overflow-y: auto;
}
.filters-select__dropdown-option {
    padding: 4px 0px;
    cursor: pointer;
}
.filters-select__dropdown-option:not(:last-child) {
    margin-bottom: 8px;
}
.filters-select__dropdown-option:hover, .filters-select__dropdown-option:active, .filters-select__dropdown-option:focus {
    background-color: #f0f3ff;
}
.filters-select__dropdown-option-content {
}
.filters-select__dropdown-option-content .filter-checkbox {
    gap: 8px;
}

.filters-form__selected-items {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.filters-form__selected-item {
}
.selected-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px;
    border-radius: 4px;
    background-color: #F2F2F2;
}
.selected-item__text {
    font-size: 13px;
    font-weight: 300;
    color: #646464;
}
.selected-item__cross {
    background: none;
    position: relative;
    height: 12px;
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selected-item__cross span {
    display: block;
    height: 14px;
    width: 1px;
    background-color: #646464;
    border-radius: 50px;
}
.selected-item__cross span:first-child {
transform: rotate(-45deg);
}
.selected-item__cross span:last-child {
transform: rotate(45deg);
}
