.filters {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.filters__container {
}
.filters__title {
    font-size: 36px;
    margin-bottom: 48px;
}
.filters__wrapper {
}
.filters__elements {
}
.filters-form {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.filters-form__block {
    display: flex;
    flex-direction: column;
}
.filters-form__block-header {
}
.dropdown-content-block .filters-form__block-header {
    padding-bottom: 12px;
    border-bottom: 1px solid #C8C8C8;
}
/* .filters-form__block-header:not(:empty) + .filters-form__block-content {
    padding-top: 32px;
} */
.filters-form__block-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filters-form__block-title.--title-section {
}
.filters-form__block-title-text {
    font-size: 20px;
    font-weight: 500;
}
.filters-form__block-title-button {
    background: none;
}
.filters-select__icon {
}
.filters-form__block-content {
}
.filters-form__block-content-inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.filters-form__element {
}
.filters-form__element-top:not(:empty) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.filters-form__element-lable {
    font-size: 13px;
    font-weight: 300;
    color: #646464;
}
.filters-form__element-clear {
    display: none;
    background: transparent;
    font-size: 13px;
    font-weight: 300;
    color: #007AFF;
}
.filters-form__element-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.filters-form__input {
    width: 100%;
}
.filters-form__element-footer:not(:empty) {
    margin-top: 8px;
}


/* БЛОК С ЗАГОЛОВКОМ И СПИСКОМ ЭЛЕМЕНТОВ */
.dropdown-content-block .filters-form__block-content {
    height: 0px;
    overflow: hidden;
    transition: height 0.7s ease;
}

.dropdown-content-block .filters-form__block-header:not(:empty) + .filters-form__block-content .filters-form__block-content-inner {
    padding-top: 32px;
}

.dropdown-content-block .filters-form__block-header:not(:empty) + .category-block__content .filters-form__block-content-inner {
    padding-top: 16px;
    padding-bottom: 16px;
}
.dropdown-content-block .filters-form__block-header:not(:empty) + .category-block__content .filters-form__block-content-inner {
    gap: 0px;
}

.filters-form__block-title-button {
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
