/* ZERO STYLES */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Commissioner';
    src: url('../assets/fonts/Commissioner-VariableFont_FLAR\,VOLM\,slnt\,wght.ttf') format('truetype');
    font-style: normal;
}

html,
body {
    height: 100%;
    font-family: "Commissioner";
    font-size: 14px;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
    letter-spacing: .0em;
    display: flex;
    flex-direction: column;
    background: transparent;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ol,
ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img,
iframe {
    vertical-align: bottom;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

input[type="checkbox"],
button {
    cursor: pointer;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.my-container {
    box-sizing: content-box;
}

.simplebar-track.simplebar-vertical {
    top: 0;
    width: 4px;
    background: #F2F2F2;
}

.simplebar-scrollbar:before {
    position: absolute;
    content: '';
    background: #0074D9;
    border-radius: 0px;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: none;
}

.simplebar-scrollbar.simplebar-visible:before {
    opacity: 1;
}
